In [ ]:
from google.colab import drive
drive.mount('/content/Drive')

Drive already mounted at /content/Drive; to attempt to forcibly remount, call drive.mount("/content/Drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import StandardScaler

In [ ]:
path = '/content/Drive/MyDrive/online retail.xlsx'
df = pd.read_excel(path)
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
df.dropna(inplace=True)

In [ ]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
len(df['StockCode'].unique())

3684

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [ ]:
df1=df.drop(columns=['InvoiceNo','Description','Quantity','UnitPrice','Country'])

In [ ]:
df1

       StockCode         InvoiceDate  CustomerID
0         85123A 2010-12-01 08:26:00     17850.0
1          71053 2010-12-01 08:26:00     17850.0
2         84406B 2010-12-01 08:26:00     17850.0
3         84029G 2010-12-01 08:26:00     17850.0
4         84029E 2010-12-01 08:26:00     17850.0
...          ...                 ...         ...
541904     22613 2011-12-09 12:50:00     12680.0
541905     22899 2011-12-09 12:50:00     12680.0
541906     23254 2011-12-09 12:50:00     12680.0
541907     23255 2011-12-09 12:50:00     12680.0
541908     22138 2011-12-09 12:50:00     12680.0

[406829 rows x 3 columns]

In [ ]:
df1["InvoiceDate"] = df1["InvoiceDate"].dt.strftime('%Y')

In [ ]:
df1

       StockCode InvoiceDate  CustomerID
0         85123A        2010     17850.0
1          71053        2010     17850.0
2         84406B        2010     17850.0
3         84029G        2010     17850.0
4         84029E        2010     17850.0
...          ...         ...         ...
541904     22613        2011     12680.0
541905     22899        2011     12680.0
541906     23254        2011     12680.0
541907     23255        2011     12680.0
541908     22138        2011     12680.0

[406829 rows x 3 columns]

In [ ]:
features = ['InvoiceDate', 'CustomerID']

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df1[features] = scaler.fit_transform(df1[features])

In [ ]:
from sklearn.cluster import KMeans
k = 5  # Number of clusters
kmeans = KMeans(n_clusters=k, random_state=42)
kmeans.fit(df1[features])

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=5, random_state=42)

In [ ]:
# Add cluster labels to the dataset
df1['cluster'] = kmeans.labels_

In [ ]:
df1

       StockCode  InvoiceDate  CustomerID  cluster
0         85123A    -3.761904    1.495280        4
1          71053    -3.761904    1.495280        4
2         84406B    -3.761904    1.495280        4
3         84029G    -3.761904    1.495280        4
4         84029E    -3.761904    1.495280        4
...          ...          ...         ...      ...
541904     22613     0.265823   -1.521763        0
541905     22899     0.265823   -1.521763        0
541906     23254     0.265823   -1.521763        0
541907     23255     0.265823   -1.521763        0
541908     22138     0.265823   -1.521763        0

[406829 rows x 4 columns]

In [ ]:
stock = df1.loc[df1['cluster'] == 4, 'StockCode'].values
print(stock)

['85123A' 71053 '84406B' ... '84849B' 22854 '47559B']

In [ ]:
import random
def predict_cluster(features):
    scaled_features = scaler.transform([features])
    cluster = kmeans.predict(scaled_features)[0]
    if cluster in df1['cluster'].values:
        stock_code = df1.loc[df1['cluster'] == cluster, 'StockCode'].values    
    li=[]    
    rand_idx = random.randint(0, len(stock_code)-1)
    li.append(stock_code[rand_idx])
    print("The Recommended Product :",*li)

In [ ]:
customer_id = '12680.0'
date = pd.to_datetime('2011-12-01 08:26:00').date()
dt=date.year
fea=[]
fea.append(customer_id)
fea.append(dt)
predict_cluster(fea)

The Recommended Product : 22192

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(